* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
font-family: 'Lato', sans-serif;
}

main {
    background-color: #f3ffeb;
}

ul, ol{
    list-style-type: none;
}

a {
    text-decoration: none;
}

header.masthead {
  padding-bottom: 5em;
}

header.masthead2 {
    padding-bottom: 2em;
}

.container-fluid {
padding-top: 1rem;
padding-bottom: 1rem;
margin-left: 1rem;
}

nav.navbar.navbar-expand-lg {
    background-color: #f1396d;
}

a.navbar-brand {
    color:white;
    font-weight:bold;
}

a.nav-link {
    color:rgb(255, 255, 255);
}

div.imagen {
    background-color: #f3ffeb;
    padding: 10rem 5rem 5rem 5rem;
}
 
h3 {
    font-weight: bold;
    padding:1em;
    color:black;
}

p.lead {
    font-size:medium;
}

h4 {
    padding: 8rem 0rem 3rem 0rem;
}

.container {
    background-color: #f3ffeb; 
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

#portfolio {
    background-color: #f3ffeb; 
    padding-bottom: 5rem;
}

@media (max-width: 576px) {
    div.imagen {
        width: 100%;
        padding: 8rem 2rem 2rem 2rem;
    }

    * {
font-size:x-small;
    }

    p.lead{
        font-size: small;
    }
 }